@keyframes appear {
    from {
        width: 80%;
    }
    to {
        width: 100%;
    }
}

.animated-box{
 animation: appear linear ;
 animation-timeline: view();
 animation-range: entry 0% cover 25%;
}

